

@font-face {
  font-family: Pompadur;
  src: url(fonts/pompadur.ttf); 
 }

body {
  font-family:Pompadur, 'Comic Sans MS', cursive;
  transition: background-color .5s;
}

.sidenav  {
  position: fixed;
  top: 0;
  z-index: 10000;
  display: block;
  height: 100%;
  overflow-y: auto;
  transition: right 1s;
}
.sidenav {
  position: fixed;
  z-index: 10000;
  display: block;
  background-color: #ffffff;
  overflow-y: auto;
  transition: right 1s;
  height: 100%;
  width: 0;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 50px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #7a7878;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 40px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}


@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}
.a{
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
nav {
display: block;
}
.megamenu__wrapper {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}
.megamenu__list {
  padding-bottom: 7rem;
}
.megamenu__item {
  margin-bottom: 1rem;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.content ol, .list-ol, ul {
  list-style-type: none;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.megamenu__item .bt {
  padding: 0 30px 0 10px;
  text-transform: uppercase;
  line-height: 1;
}
.bt {
  position: relative;
  font-size: 1.5em;
}
.bt:before,  .bt:after{
  transition: width .5s .8s;
  content: " ";
  position: absolute;
  z-index: -1;
  display: block;
  height: 20px;
  background: #ffd248;
}
.btn1:before {
  right: 30%;
  left: 7%;
}
.btn2:before {
  right: 48%;
  left: 7%;
}
.btn3:before {
  right: 8%;
  left: 7%;
}
.bt:hover::before {
  transform: translateY(100%);
  transition: 0.5s;
}

.bt:hover .arrow-strafe-left {
  transform: translateY(4px);
  transition: 0.5s;
}

.bt:hover .arrow-strafe-right {
  transform: translatex(4px);
  transition: 0.5s;
}
.bt:after, .btn:hover:before {
  width: 0;
  transition: width .3s;
}
.bt:after {
  left: 0;
}
.bt:after,.bt:before {
  box-sizing: inherit;
}
.adress{
  margin:20px;
}


.lead,
.instagram-link {
  font-family: "Caveat", cursive;
  color: #000000;
  height: 460px;
  
}
h5{
  color: #000000;
  font-size:xx-large;
}
/*button */
.btn {
  position: relative;
  font-size: 1.5em;
}

.btn:before {
  content: " ";
  position: absolute;
  top: 1px;
  z-index: -1;
  display: block;
  height: 20px;
  background: #ffd248;
  width: 100%;
  right: 0;
  transition: width 0.3s 0.1s;
}

.btn:hover::before {
  transform: translateY(100%);
  transition: 0.5s;
}

.btn:hover .arrow-strafe-left {
  transform: translateY(4px);
  transition: 0.5s;
}

.btn:hover .arrow-strafe-right {
  transform: translatex(4px);
  transition: 0.5s;
}


/* header */

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 1;
}

.description-content {
  position: relative;
  z-index: 2;
}

.bg-broken-top-selling {
  position: absolute;
  top: -82px;
  display: block;
  width: 100%;
  -webkit-transform: translateX(-130px);
  transform: translateX(-130px);
  height: 175px;
  background-color: #ffd248;
  z-index: -1;
}

.bg-broken-top-selling-reversed {
  position: absolute;
  top: -82px;
  display: block;
  width: 135%;
  /* -webkit-transform: translateX(130px);
  transform: translateX(130px); */
  height: 175px;
  background-color: #ffd248;
  z-index: -1;
}

@media (max-width: 576px) {
  .bg-broken-top-selling,
  .bg-broken-top-selling-reversed {
    display: none;
  }
  .description-content {
    text-align: center;
  }
  .description {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .bg-broken-top-selling,
  .bg-broken-top-selling-reversed {
    display: none;
  }
  .description-content {
    text-align: center;
  }
  .description {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
  }
}

.dashed::after {
  content: " ";
  position: relative;
  left: 10px;
  top: -7px;
  display: inline-block !important;
  height: 1px;
  width: 55%;
  background-color: #fff;
}

/* About */

.page-section {
  padding: 25px 0;
}

.page-section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

.page-section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}

.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: "";
  background-color: #e9ecef;
}

.timeline > li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
}

.timeline > li:after,
.timeline > li:before {
  display: table;
  content: " ";
}

.timeline > li:after {
  clear: both;
}

.timeline > li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li .timeline-image {
  position: absolute;
  z-index: 1;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: white;
  border: 7px solid #e9ecef;
  border-radius: 100%;
  background-color: #fed136;
}

.timeline > li .timeline-image h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li:last-child {
  margin-bottom: 0;
}

.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}

.timeline .timeline-heading h4.subheading {
  text-transform: none;
}

.timeline .timeline-body > ul,
.timeline .timeline-body > p {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    min-height: 100px;
    margin-bottom: 100px;
  }
  .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
}

@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}

@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}

.main-logo {
  height: 350px;
}

/*карусель*/
.carousel-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* preloader */
#p_prldr {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #ffd248;
  z-index: 1031;
}

.contpre small {
  font-size: 25px;
}

.contpre {
  width: 250px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 48%;
  margin-left: -125px;
  margin-top: -75px;
  color: #fff;
  font-size: 40px;
  letter-spacing: -2px;
  text-align: center;
  line-height: 35px;
}

#p_prldr .svg_anm {
  position: absolute;
  width: 41px;
  height: 41px;
  background: url(../img/pufff.svg) center center no-repeat;
  background-size: 41px;
  margin: -16px 0 0 -16px;
}

/* Сітка товарів */

.item-img-wrapper {
  position: relative;
}

.item-header {
  position: relative;
  display: inline-block;
}

.item-header::before {
  content: " ";
  position: absolute;
  top: 1px;
  z-index: -1;
  display: block;
  height: 20px;
  background: #ffd248;
  max-width: 100%;
  width: 100%;
  transition: width 0.3s 0.1s;
}

.hot-price {
  position: absolute;
  left: 40px;
  top: 30px;
  padding-left: 8px;
  padding-right: 8px;
  /* border-radius: 50px; */
  background-color: #ffd248;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
}

.counters span {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 48px;
  display: block;
}

.cart-header h2 {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
}

.cart-header h2::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background: #ffd248;
  top: -40%;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.cart-header h2:before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background: #ffd248;
  top: 140%;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.card-wrapper {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  text-align: center;
  font-family: sans-serif;
  /* border-radius: 50px; */
}

.card-wrapper button {
  border: none;
  outline: 0;
  padding: 10px;
  color: #fff;
  background-color: #ffd248;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Roboto";
}

.item-picture {
  width: 100%;
}

.instagram {
  cursor: pointer;
  color: white;
  transition: 0.5s;
  background: pink;
  background: -webkit-radial-gradient(
    33% 100% circle,
    #515ecf 4%,
    #9b36b7 30%,
    #d92e7f 62%,
    #f15245 85%,
    #fed373
  );
  background: radial-gradient(
    circle at 33% 100%,
    #ff3be7 4%,
    #ff3be7 28%,
    #03ffe8 62%,
    #f15245 85%,
    #fed373
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.instagram:hover {
  background: -webkit-radial-gradient(
    33% 100% circle,
    #fed373 4%,
    #f15245 30%,
    #d92e7f 62%,
    #9b36b7 85%,
    #515ecf
  );
  background: radial-gradient(
    circle at 33% 100%,
    #fed373 4%,
    #f15245 30%,
    #d92e7f 62%,
    #9b36b7 85%,
    #515ecf
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.5s;
}
